{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block scripts %}
<style>
	img.recipePreviewImage { 
		width: 140px;
	}
</style>
{% endblock %}

{% block content %}
<div class="food_static_links">
	<div class="artikel">
		<div class="articleteaser" id="articleteaser_2">
			<div class="articleteaser_group">
				{% if recipe_list %}
					{% for recipe in recipe_list %}
						<!-- articleteaser single -->
						<div class="articleteaser_single">
							<a href="{{ recipe.url }}">
								<div class="image">
									<img src="{{ recipe.image_url }}" rel="amf:photo" name="slide" id="recipePreviewImage" class="recipePreviewImage" alt="{{ recipe.name}}" />
								</div>
							</a>
							<div class="spitzmarke"></div>
							<div class="headline">
								<a href="{{ recipe.url }}">{{ recipe.name }}</a>
							</div>
							<div class="teasertext">{{ recipe.teaser }}</div>
							<br>
							<a href="{{ recipe.url }}">zum Rezept</a>
							<div style="clear:both"></div>
							<div class="line"></div>
						</div>
					{% endfor %}
				{% else %}
					<p>No recipes are available.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="food_static_rechts">
	<div class="sidebar_linklist">
		<div class="headline">Unsere Top Themen</div>
		{% if topic_list %}
			{% for topic in topic_list %}
				<div class="link"><a href="{{ topic.url }}">{{ topic.name }}</a></div>
			{% endfor %}
		{% else %}
			<p>No topics are available.</p>
		{% endif %}
	</div>
</div>
{% endblock %}