/* @import url(http://www.princexml.com/fonts/gentium/index.css); */

/* set headers and footers */

@page {
  size: a4 portrait;
  margin: 1.5cm;
  font: 11pt/1.3 "Helvetica", serif;
}

@page {
  size: a4;
  margin: 2cm;
  font-size: 9pt;
}

@page :left {
  @top-left {
    content: string(head);
    vertical-align: middle;
    font-size: 9pt;
  }

  @bottom-left {
    content: counter(page);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
}

@page :right {
  @top-right {
    content: string(story-title, last);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
  @bottom-right {
    content: counter(page);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 9pt;
  }
}

@page :first {
  @top-right { content: normal }
  @top-left { content: normal }
  @bottom-right { content: normal }
  @bottom-left { content: normal }
}

@page clean {
  @top-right { content: normal }
  @top-left { content: normal }
  @bottom-right { content: normal }
  @bottom-left { content: normal }
}

:root {
  font: 10pt/1.3 "Helvetica", serif;
}

gutblurb, markupblurb, endblurb {
  display: none;
}

titlepage, acknowledge, toc, item, chapheader, chapter, chapsummary, desc, def, letter, para, sect1, sect2, sect3, sect4, simplesect, blockquote, footnote, note, list, deflist, table, blockgraphic {
  display: block;
}

quote,emph,ital,reference,date,place,name,graphic,misc{
  display: inline;
}

titlepage {
  text-align: center;
}

titlepage img {
  text-align: center;
  padding: 14em 0 0;
}

titlepage date {
  font-size: 0.8em;
  text-align: center;
  padding: 3em 0 0;
  display: block;
}

titlepage title {
  padding: 3em 0 1em;
  font-size: 2em;
  display: block;
}

titlepage subtitle {
  padding: 0em;
  font-size: 1.5em;
  display: block;
  string-set: head content();
}

titlepage, acknowledge, toc, chapter {
  page-break-after: always;
}

acknowledge, toc {
  page: clean;
}

toc list {
	columns: 2;
  	column-gap: 1.5em;
}

toc title, chapter chapheader {
  display: block;
  font-size: 1.4em;
  text-align: center;
  padding: 0.5em 0 0.5em;
}

toc subtitle {
	display: block;
  	font-size: 1.0em;
  	text-align: center;
  	padding: 0.0em 0 2em;
}

toc item {
	font-size: 0.9em;
}

toc item:after {
  content: leader('.') target-counter(attr(href), page);
}

appendix item {
	display: inline;
}

appendix item:after {
  content: target-counter(attr(href), page);
}

para {
  padding-bottom: 2em;
}

chapheader title {
  string-set: story-title content();
  display: block;
}

chapheader + para {
  text-indent: 0;
}

chapnum {
  display: run-in;
}

chapnum:after {
  content: " ";
}

/* custom */

h2 {
	font-size: 1.2em;
  	text-align: center;
  	padding: 1em 0 0.5em;
}

p {
	font-size: 0.9em;
	padding: 0;
	margin: 0;
}

.right { 
   float: right;
   margin-left: 1em;
}

.location {
	height: 16px;
}

.sub-chapter {
	padding-left: 20px;
}

.portait {
	width: 100px;
	height: 100px;
}

.not_breaking {
	page-break-inside: avoid;
}

.timeline {
	list-style: none;
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	text-align: left; 
	padding: 3px 5px; 
	vertical-align: middle;

    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    
    text-indent: 0em;
}

.row {
	background-color: #ededed;
}

.alternating {
	background-color: #f7f7f7;
}

.label {
	color:#666; 
}

.commalist {
  	display: inline;
  	list-style: none;
  	padding: 0em 0em;
  	margin: 0px;
}

.commalist ul {
	padding: 0em 0em;
	margin: 0px;
}

.commalist li {
  	display: inline;
  	padding: 0em 0em;
  	margin: 0px;
}

.commalist li:after {
  	content: ", ";
}

.commalist li:last-child:after {
    content: "";
}

/* toc */

.menu-chapter {
	color:#666; 
	font-size: 1.2em;
	padding-top: 10px;
}

/* recipe */

.recipe {
}

.recipe_image {
	float: right;
	margin-left: 1em;
	border-top: 1px solid #ddd;
	padding-top: 2px;
}

.recipe_heading {
	display: block;
	border-top: 1px solid #ddd;
}

.recipe_title {
	color:#666; 
	font-size: 1.5em;
	padding-top: 2px;
	float: left;
}

.recipe_date {
	color:#666; 
	font-size: 0.7em;
	float: right;
	padding-right: 10px;
}

.recipe_description { 
	font-size: 0.9em;
	display: block;
	clear: left;
}

.recipe_ingredients_container {
	padding-top: 10px;
}

.recipe_ingredients_title {
	color:#666; 
	font-size: 1.1em;
	float: left;
}

.recipe_ingredients_subline  {
	font-size: 0.7em;
	clear: left;
}

.recipe_ingredients_country {
	float: right;
	padding-right: 10px;
}

table.recipe_ingredients {
    width: 350px;
}

.recipe_ingredients tbody {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.ingredient {
	width: 250px;
}

.odd {
	background-color: #E3F6CE;
}

.even {
	background-color: #fff;
}

.recipe_ingredients td {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.recipe_integrient {
}

.recipe_integrient_amount {
    text-align: right;
    width: 120px;
}

.recipe_integrient_image {
	width: 26px;
}

.recipe_integrient_name {
	width: 200px;
}

.recipe_steps_title {
	color:#666; 
	font-size: 1.1em;
	display: block;
	padding-top: 20px;
}

.recipe_steps_container {
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.recipe_step {
	padding: 5px;
}

.nolink {
	text-decoration: none;
	text-underline: none;
	color: #000;
}