{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
	<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
    <title>{% block title %}Startpage{% endblock %} - SmartReceipt</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'data/css/default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'data/css/rebrush.css' %}" />
    <style type="text/css">
    	ul#navmenu a {
  			font: ultra-condensed 22px 'Source Sans Pro', Helvetica, arial, sans-serif;
		}
    </style>
    {% block scripts %}
    {% endblock %}
</head>
<body>
	<div id="adsWrapper" class="wrapper">
    	<div id="maindiv">
			<div id="header">
    			<a href="/data/index/">
    				<img src="{% static 'data/images/0200_essen-und-trinken.gif' %}" alt="essen und trinken" class="floatLeft" />
    			</a>    
    			<div id="topnavi">
        
			  		<ul id="personal-bar">
						<li><a href="/data/my_receipts">Mein Kochbuch</a></li>
						<li><a href="/data/user/0">Mein Profil</a></li>
						<li><a href="/admin/data/receipt/add/">Rezept eingeben</a></li>
					</ul>
  
					<div id="login-bar">
						<span id="greeting"></span>
						<span id="msgbar">
							<a href="/user/fullReg">Registrieren</a> 
							<a href="/admin" class="arrow" onfocus="if(this.blur)this.blur()" id="loginLink" target="_blank">Admin</a>      
						</span>
					</div>
				</div>

				<form method="get" accept-charset="utf-8" action="/search">    
					<ul id="navmenu" style="z-index: 11000;">
						<li><a href="/data/receipts">Rezepte</a>
							<ul>
								<li><a href="/data/receipts">Startseite Rezepte</a></li>
								<li><a href="/data/integrient_search">Zutaten-Suche</a></li>
								<li><a href="/data/categories">Kategorien</a></li>
							</ul>
						</li>
						<li><a href="/data/cooking_school">Kochschule</a>
							<ul>
								<li><a href="/data/cooking_school">Startseite Kochschule</a></li>
							</ul>
						</li>
						<li><a href="/data/tipps_and_trends">Tipps &amp; Trends</a>
							<ul>
								<li><a href="/data/tipps_and_trends">Startseite Tipps &amp; Trends</a></li>
							</ul>
						</li>    
					</ul>

					<div id="search-bar">
						<input type="text" name="q" id="suche">
						<span style="position:absolute; left:188px;top:9px;">
							<button type="submit" class="goButton" id="go_search" style="height:20px;width:20px;margin:0px;">
								<img id="button" src="{% static 'data/images/0200_button_lupe.gif' %}" alt="Suchen" style="left:0px;top:2px;">
							</button>
						</span>
					</div>
  
					<!-- Layer Suche -->
					<div id="searchLayer" style="display: none;">
						<div class="layerSearchContent">
							<span class="searchLayerClose"><a href="./Rezepte-Template_files/Rezepte-Template.html" onclick="overlay('searchLink', 'searchLayer', 'bottom left', 'iconSearchOff', 'iconSearchOn', 'buttonIsRight'); return false;" class="xlink">[X]</a></span>
							<br class="clearboth">
							<p class="paddingTop15"></p>
							<ul id="searchOptions">
								<li><input type="checkbox" class="checkbox" name="search_area[]" value="recipe" id="searchopt_recipe"><label class="checkboxLabel marginLeft10" for="searchopt_recipe">in Rezepten</label></li>
								<li><input type="checkbox" class="checkbox" name="search_area[]" value="user" id="searchopt_user"><label class="checkboxLabel marginLeft10" for="searchopt_user">in Usern</label></li>
								<li><input type="checkbox" class="checkbox" name="search_area[]" value="video" id="searchopt_video"><label class="checkboxLabel marginLeft10" for="searchopt_video">in Videos</label></li>
								<li><input type="checkbox" class="checkbox" name="search_area[]" value="forum" id="searchopt_forum"><label class="checkboxLabel marginLeft10" for="searchopt_forum">in Foren</label></li>
								<li><input type="checkbox" class="checkbox" name="search_area[]" value="php" id="searchopt_php"><label class="checkboxLabel marginLeft10" for="searchopt_php">in Seiten</label></li>
								<li><input type="checkbox" class="checkbox" name="search_area[]" value="all" id="searchopt_all"><label class="checkboxLabel marginLeft10" for="searchopt_all">Alle Inhalte</label></li>
							</ul>
							<hr class="searchLabel">
							<a class="arrowleft" href="/rezept-suche">Zur Profi-Rezeptsuche</a>    
						</div>
					</div>
					<!-- /Layer Suche -->
				</form>
  			</div>
  
			<!-- Content -->
			<div id="contentLeft" style="display:none">
				<div id="content-teaser" class="floatLeft">
					<div class="food_static_links">
						<div class="artikel">               
							<!-- include component: php_include -->
							<div class="teaserbox_suche">
								<div class="head">
									<div class="h4">REZEPTE SUCHEN</div>
								</div>
								<div class="suche">
									<form method="get" action="/suche/bereich/1">
										<input type="hidden" name="search_type" value="quick">
										<input class="input" name="suche" type="text">
										<input class="button" value="Suchen" type="submit">
									</form>
								</div>
								<div class="fusszeile">
									<a href="/rezept-suche">Zur Profi-Rezeptsuche</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br class="clearboth">
			
			<div class="container_other">
				<div id="contentLeft">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			
			<div class="sidebar_other">
				<div id="contentRight" class="floatLeft">
					{% block sidebar %}
					{% endblock %}
					
					<!-- sidebar box 2 -->
					<div class="teaserbox_rechts">
  						<div class="head">
    						<div class="h4">Folgen Sie uns</div>
  						</div>
  						<div style="margin-left: 12px; padding-top: 5px; padding-bottom: 5px;">
    						<img src="{% static 'data/images/et_social_media_1.jpg' %}" usemap="#social_media_links">
							<map name="social_media_links">
					  			<area shape="rect" coords="1,1,39,39" href="https://www.facebook.com/essenundtrinken.de" alt="facebook" title="facebook" target="_blank">
					  			<area shape="rect" coords="49,1,87,39" href="https://twitter.com/e_u_t" alt="twitter" title="twitter" target="_blank">
					  			<area shape="rect" coords="96,1,134,39" href="https://plus.google.com/u/0/111321177612300321782" alt="googleplus" title="googleplus" target="_blank">
					  			<area shape="rect" coords="144,1,181,39" href="http://www.pinterest.com/essenutrinken/" alt="pinterest" title="pinterest" target="_blank">
					  			<area shape="rect" coords="190,1,229,39" href="https://www.youtube.com/user/essenundtrinken" alt="youtube" title="youtube" target="_blank">
							</map>
  						</div>
					</div>

					<!-- sidebar box 11 -->
					<div class="teaserbox_rechts">
						<div class="head">
							<div class="h4">Spiel &amp; Spass</div>
						</div>
						<div class="rdt">
							<a href="/topthemen/spiele/kuchenschlacht/index.html" title="Spiel Kuchenschlacht">
								<img src="{% static 'data/images/kuchenschlacht.jpg' %}" class="img3" alt="Spiel Kuchenschlacht" width="60" height="60">
							</a>
							<div class="datum">Jetzt mitmachen!</div>
							<div><a href="/topthemen/spiele/kuchenschlacht/index.html" title="Spiel Kuchenschlacht">Kuchenschlacht spielen</a></div>
							<div><a href="/topthemen/spiele/vitaminkick/index.html" title="Spiel Vitaminkick">Vitaminkick spielen</a></div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Content -->
  
			<div class="clear"></div>
		
			<!-- Footer -->
			<div id="bottom">
				<div id="footer">
					<a rel="nofollow" href="/service/impressum.html">Impressum</a> | 
					<a rel="nofollow" href="/service/kontakt.html">Kontakt</a> | 
					<a rel="nofollow" href="/service/agb.html">AGB</a> | 
					<a href="/presse">Presse</a> | 
					<a href="/werbung">Werbung</a> | 
					<a href="http://ems.guj.de/service/oba">Nutzungsbasierte Online Werbung</a> | 
					<a rel="nofollow" href="/service/datenschutz.html">Datenschutz</a><br>  
					<a rel="nofollow" href="/newsletter/subscribe">Newsletter</a> | 
					<a href="https://aboshop.essen-und-trinken.de/essen-und-trinken/?onwewe=0609">Abo-&Uuml;bersicht</a> | 
					<a href="/static/links">Link-&Uuml;bersicht</a> |
					<a rel="nofollow" href="/service/faq.html">FAQ</a> | 
					<a href="/app/fuer-jeden-tag/">Essen &amp; Trinken f&uuml;r jeden Tag als eMagazine</a> 
		
					<p>© essen-und-trinken.de 2015</p>
					<!-- Include Footer -->
					<p>essen-und-trinken.de haftet nicht f&uuml;r die Inhalte externer Websites</p>
				</div>
			</div>
			<!-- /Footer -->
		</div>
  	</div>
</body>
</html>