#id_teaser {
	width: 600px;
}

#id_description {
	width: 600px;
}

#id_step0 {
	width: 600px;
}

#id_step1 {
	width: 600px;
}

#id_step2 {
	width: 600px;
}

#id_step3 {
	width: 600px;
}

#id_step4 {
	width: 600px;
}

#id_step5 {
	width: 600px;
}

#id_step6 {
	width: 600px;
}

#id_step7 {
	width: 600px;
}

#id_step8 {
	width: 600px;
}

#id_step9 {
	width: 600px;
}