{% load staticfiles %}
{% load i18n %}
<book>
<frontmatter>
<titlepage>
	<img src="{% static 'data/images/title_receipts.jpg' %}" alt="Img" width="605">
<date>{% now "j.F Y" %}</date>
<title>{% trans "Receiptbook" %}</title>
<subtitle>{% trans "Fam. Rommel" %}</subtitle>

</titlepage>

<acknowledge>{% trans "Receiptbook" %} {% trans "Fam. Rommel" %}</acknowledge>

<toc>
<title>{% trans "Contents" %}</title>
<subtitle>{% trans "Recipes" %}</subtitle>
<list class="toc">

<!-- toc -->

{% if categories %}
	{% for category in categories %}
		{% if category.number_of_receipts > 0 %}
			<!--<p class="sub-chapter">{{ category }} ({{ category.is_country }})</p>-->
			{% for child in category.children %}
				{% if child.number_of_receipts > 0 and child.is_country == False %}
					<p class="sub-chapter menu-chapter">{{ child.name }}</p>
					{% for item in child.receipts %}
						<item href="#chapter1-{{ item.receipt.id }}" class="sub-chapter">
							<a href="#chapter1-{{ item.receipt.id }}" class="nolink">
								{{ item.receipt }}
							</a>
						</item>
					{% endfor %}
			
					{% for child2 in child.children %}
						{% if child2.is_country == False %}
						<p class="sub-chapter menu-chapter">{{ child2.name }}</p>
							{% for item2 in child2.receipts %}
								<item href="#chapter1-{{ item2.receipt.id }}" class="sub-chapter">
									<a href="#chapter1-{{ item2.receipt.id }}" class="nolink">
										{{ item2.receipt }}
									</a>
								</item>
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}	
		{% endif %}
 	{% endfor %}
 {% endif %}


</list>
</toc>

</frontmatter>

<bookbody>
<part>

<chapter id="chapter1">

<chapheader>
<title>{% trans "Recipes" %}</title>
<a id="chapter1">&nbsp;</a>
</chapheader>

{% if receipt_list %}
	{% for receipt in receipt_list %}
		<para>
			<div class="not_breaking">
				<a id="chapter1-{{ receipt.id }}" name="#chapter1-{{ receipt.id }}">&nbsp;</a>
				<div class="recipe">
					<div class="recipe_image">
					{% if receipt.image %}
						<img src="{{ receipt.image.url }}" width="270" />
					{% else %}
						<img src="/media/media/default.png" width="270" />
					{% endif %}
					</div>
					<div class="recipe_heading">
						<div class="recipe_title">{{ receipt.name }}</div>
						<div class="recipe_date">{{ receipt.created_at|date:"d.m.Y" }}</div>
					</div>
					<div class="recipe_description">{{ receipt.description }}</div>
					<div class="recipe_ingredients_container">
						{% for country in receipt.countries %}<div class="recipe_ingredients_country"><img src="{{ country.image.url }}" height="12" /></div>{% endfor %}
						<div class="recipe_ingredients_title">{% trans "Zutaten" %}</div>
						<div class="recipe_ingredients_subline">{% trans "für" %} {{ receipt.portions }} {% trans "Portionen" %}:</div>
						<table class="recipe_ingredients">
							<tbody>
								{% for integrient_rel in receipt.integrients %}
									<tr class="ingredient {% if forloop.counter|divisibleby:2 %}odd{% else %}even{% endif %}">
										<td class="recipe_integrient_amount">{{ integrient_rel.quantity }}</td>
										<td class="recipe_integrient_image"><img src="{% if integrient_rel.integrient.image %}{{ integrient_rel.integrient.image.url }}{% else %}/media/media/integrients/Ingredient-Pack_of_Secret_Flavor.png{% endif%}" width="20" class="recipe_integrient_image_icon" /></td>
										<td class="recipe_integrient_name">
											{% if not integrient_rel.is_plural or integrient_rel.integrient.plural|length == 0 %}
												{{ integrient_rel.integrient.name }}
											{% else %}
												{{ integrient_rel.integrient.plural }}
											{% endif %}
										</td>
									</tr>
								{% endfor %} 
							</tbody>
						</table>
					</div>
					<div class="recipe_steps">
						<div class="recipe_steps_title">{% trans "Schritte" %}</div>
						<div class="recipe_steps_container">
							{% for step in receipt.steps %}
								<div class="recipe_step {% if forloop.counter|divisibleby:2 %}odd{% else %}even{% endif %}">{{ step }}</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</para>
	{% endfor %}
{% else %}
	<para>{% trans "No receipts are available." %}</para>
{% endif %}

</chapter>


</chapter>

</part>
</bookbody>
</book>
</gutbook>